.container {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row-reverse;  
  justify-content: space-evenly;  
  align-items:start;
  padding: 6rem;

  height: 100vh;
}

.main p {
  margin: 0;
  font-size: 5rem;
  text-align: start;
  font-weight: bold;
  font-size: 3rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.main h6 {
  margin: 0;
  padding: 0.5rem 1rem;
  font-weight: 400;
  font-size: medium;
  color: hsl(0, 0%, 41%);
  text-align: start;
  line-height: 25px;
}

.mainInfo > button {
  width: fit-content;
  align-self: start;
  background-color: hsl(0, 0%, 8%);
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  color: hsl(0, 0%, 98%);
  border: none;
  border-radius: 22px;
  font-weight: 700;
  font-size: larger;
}

.mainInfo > button:hover {
  background-color: hsl(0, 0%, 56%);
  color: lightcyan;
}

.mainInfo {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.background {
  width: 40%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/images/image-hero-desktop.png");
}

@media (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 100vw;
  }

  .background {
    width: 100%;
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../public/images/image-hero-mobile.png");
  }

  .menuMobile {
    display: none;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }

  .mainInfo {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
  }

  .mainInfo p {
    width: 100%;
    text-align: center;
    line-height: 2;
    font-weight: 700;
    font-size: larger;
  }

  .mainInfo > button {
    width: fit-content;
    align-self: center;
    background-color: hsl(0, 0%, 8%);
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    color: hsl(0, 0%, 98%);
    border: none;
    border-radius: 22px;
    font-weight: 700;
    font-size: larger;
  }
}
